doctype html
html
  head
    meta(charset='utf-8')
    title kodaktor.ru/session_post Express sessions demo POST form no-ajax
    style.
      * {font-family: sans-serif;}
      .container { text-align: center; padding-top: 2rem;}
  body
    div(class="container")
      a(href="/login/facebook") Login with Facebook
